:root {
    --sh-button-primary-bg: #e6a23c;
    --sh-optional-ft-color: #553d5b;
    --sh-primary-bg-color: #514141;
    --sh-primary-ft-color: #ffffff;
}

@font-face {
    font-family: "HelveticaNeueBlack";
    src: local("HelveticaNeueBlack"), url(assets/fonts/HelveticaNeueBlack/HelveticaNeueBlack.ttf) format("truetype");
}

body {
    font-family: "HelveticaNeueBlack", sans-serif;
    background: var(--sh-primary-bg-color);
    color: var(--sh-primary-ft-color);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    text-align: center;
}

footer {
    height: 100px;
}

.el-button {
    font-family: "HelveticaNeueBlack", sans-serif;
    color: var(--sh-optional-ft-color) !important;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }
}